######################################
# Visual Studio per-user settings data
######################################
*.suo
*.user

####################
# Build/Test folders
####################

**/bin_vs2010/
**/bin/
**/obj/
**/TestResults/
**/Temp/
**/NuGet.exe
**/buildlogs/

**/.vs/

Deployment/**
Include/**


####################
# Nuget
####################
Solutions/Packages

####################
# Solution upgrades
####################
solutions/Backup*/**
Solutions/UpgradeLog*.htm

