######################################
# Visual Studio per-user settings data
######################################
*.suo
*.user

####################
# Build/Test folders
####################

**/bin_vs2010/
**/bin/
**/obj/
**/obj-v1?/
**/TestResults/
**/Temp/
**/NuGet.exe
**/buildlogs/

**/.vs/

Deployment/**
Include/**

hostedfiles/ServiceEndPoints.xml
hostedfiles/endpoints.json

####################
# PEM to PPK
####################

thirdparty/PemToPPKConverter/Debug/
thirdparty/PemToPPKConverter/Release/

####################
# Nuget
####################
solutions/packages

####################
# Solution upgrades
####################
solutions/Backup*/**
Solutions/UpgradeLog*.htm
