<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="solutions\packages" />
  </config>
  <packageSources>
	<clear />
    <add key="NuGet v3 package source" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <disabledPackageSources />
</configuration>
