<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.AutoScaling" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.CloudFormation" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.CloudFront" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.CloudWatch" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.CloudWatchEvents" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.CloudWatchLogs" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.CognitoIdentity" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.CognitoSync" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.Core" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.EC2" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.ECR" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.ECS" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.ElasticBeanstalk" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.ElasticLoadBalancing" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.ElasticLoadBalancingV2" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.IdentityManagement" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.KeyManagementService" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.Lambda" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.MobileAnalytics" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.RDS" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.S3" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.SecurityToken" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.SimpleDB" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.SimpleNotificationService" version="3.3.100" targetFramework="net45" />
  <package id="AWSSDK.SQS" version="3.3.100" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Services.InteractiveClient" version="14.102.0" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="14.3.25407" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Data" version="14.3.25407" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Data" version="15.7.27703" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Data.Core" version="9.0.21023" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Data.Services" version="9.0.21023" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Data.Framework" version="14.3.25407" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Data.Framework" version="15.7.27703" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Editor" version="14.3.25407" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Imaging" version="14.3.25407" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="14.3.25408" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Language.Intellisense" version="14.3.25407" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="15.7.7" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.10" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.14.0" version="14.3.25407" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="10.0.30319" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="11.0.50727" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="12.0.21003" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.14.0" version="14.3.25407" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30319" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61030" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30110" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.14.0.DesignTime" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.Data" version="14.3.25407" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="14.3.25407" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Text.UI" version="14.3.25407" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="14.3.25407" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading" version="14.1.111" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Threading" version="15.0.240" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.7.18" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Utilities" version="14.3.25407" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="14.1.111" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Validation" version="15.0.82" targetFramework="net461" />
  <package id="Microsoft.VSSDK.BuildTools" version="14.3.25407" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.8.3252" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.VSSDK.VsixSignTool" version="15.7.27703" targetFramework="net45" />
</packages>