<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CloudWatchEvents" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.CloudWatchLogs" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.Core" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.EC2" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.ECR" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.ECS" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.ElasticLoadBalancingV2" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.IdentityManagement" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.MobileAnalytics" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.S3" version="3.3.100" targetFramework="net46" />
  <package id="log4net" version="2.0.8" targetFramework="net46" />
</packages>