<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CloudFormation" version="3.3.10.2" targetFramework="net46" />
  <package id="AWSSDK.CloudWatchEvents" version="3.3.5.3" targetFramework="net46" />
  <package id="AWSSDK.CloudWatchLogs" version="3.3.4.8" targetFramework="net46" />
  <package id="AWSSDK.Core" version="3.3.22.5" targetFramework="net46" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.8" targetFramework="net46" />
  <package id="AWSSDK.EC2" version="3.3.51" targetFramework="net46" />
  <package id="AWSSDK.IdentityManagement" version="3.3.6.3" targetFramework="net46" />
  <package id="AWSSDK.KeyManagementService" version="3.3.5.5" targetFramework="net46" />
  <package id="AWSSDK.Kinesis" version="3.3.5.5" targetFramework="net46" />
  <package id="AWSSDK.Lambda" version="3.3.13.2" targetFramework="net46" />
  <package id="AWSSDK.MobileAnalytics" version="3.3.1.28" targetFramework="net46" />
  <package id="AWSSDK.S3" version="3.3.18.2" targetFramework="net46" />
  <package id="AWSSDK.SimpleNotificationService" version="3.3.0.29" targetFramework="net46" />
  <package id="AWSSDK.SQS" version="3.3.3.7" targetFramework="net46" />
</packages>