<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CloudFormation" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.CloudWatchEvents" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.CloudWatchLogs" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.Core" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.EC2" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.ECR" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.ECS" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.ElasticBeanstalk" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.IdentityManagement" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.Lambda" version="3.3.100" targetFramework="net46" />
  <package id="AWSSDK.S3" version="3.3.100" targetFramework="net46" />
</packages>